include LICENSE
include README.rst
include requirements.txt
include requirements-docker.txt
include requirements-local.txt
recursive-include requirements *
recursive-include indy_community/templates *
recursive-include docs *
exclude indy_community/static
